# pip install pandas

In [3]:
import pandas as pd

In [4]:
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [5]:
serie = pd.Series([12, 23, 34])
serie

0    12
1    23
2    34
dtype: int64

In [6]:
serie.size

3

In [7]:
serie.max(), serie.min(), serie.argmax(), serie.argmin()

(np.int64(34), np.int64(12), np.int64(2), np.int64(0))

In [8]:
serie + 2

0    14
1    25
2    36
dtype: int64

In [9]:
serie > 15

0    False
1     True
2     True
dtype: bool

In [10]:
serie[serie > 15]

1    23
2    34
dtype: int64

In [11]:
import numpy as np

In [12]:
array = np.random.randint(1, 100, 4)
array

array([77, 40, 36, 72])

In [13]:
pd.Series(array)

0    77
1    40
2    36
3    72
dtype: int64

# DataFrame

In [14]:
pd.DataFrame([10, 20, 30])

    0
0  10
1  20
2  30

In [15]:
df = pd.DataFrame([[10, 20, 30], [55, 77, 99]])
df

    0   1   2
0  10  20  30
1  55  77  99

In [16]:
df = pd.DataFrame({ "col1":[10, 20, 30], "col2":[55, 77, 99]})
df

   col1  col2
0    10    55
1    20    77
2    30    99

In [17]:
dictionar = { "col1":[10, 20, 30], "col2":[55, 77, 99]}

df = pd.DataFrame(dictionar)
df

   col1  col2
0    10    55
1    20    77
2    30    99

In [18]:
type(df["col1"])

pandas.core.series.Series

In [19]:
dictionar = { "temperaturi":[10, 20, 30], "culori":["rosu", "negru", "alb"], "masuratori":[2, None, None]}

df = pd.DataFrame(dictionar)
df

   temperaturi culori  masuratori
0           10   rosu         2.0
1           20  negru         NaN
2           30    alb         NaN

In [20]:
df.to_numpy()

array([[10, 'rosu', 2.0],
       [20, 'negru', nan],
       [30, 'alb', nan]], dtype=object)

In [21]:
df.to_dict()

{'temperaturi': {0: 10, 1: 20, 2: 30},
 'culori': {0: 'rosu', 1: 'negru', 2: 'alb'},
 'masuratori': {0: 2.0, 1: nan, 2: nan}}

In [22]:
df.to_csv("dataframe.csv")

In [24]:
df.to_excel("dataframe.xlsx")

In [25]:
df.to_json("dataframe.json")