In [1]:
import pandas as pd
import numpy as np

In [3]:
dictionar = { "temperaturi":[10, 20, 30, 40, 20, 33, 50, 20, 13], "culori":["rosu", "negru", "alb", "rosu", "negru", "alb", "verde", "alb", "albastru"], "masuratori":[2, None, None, 40, 50, 60, 70, 80, 90]}

df = pd.DataFrame(dictionar)
df

   temperaturi    culori  masuratori
0           10      rosu         2.0
1           20     negru         NaN
2           30       alb         NaN
3           40      rosu        40.0
4           20     negru        50.0
5           33       alb        60.0
6           50     verde        70.0
7           20       alb        80.0
8           13  albastru        90.0

In [4]:
df.dtypes

temperaturi      int64
culori          object
masuratori     float64
dtype: object

In [5]:
df.head()

   temperaturi culori  masuratori
0           10   rosu         2.0
1           20  negru         NaN
2           30    alb         NaN
3           40   rosu        40.0
4           20  negru        50.0

In [6]:
df.tail()

   temperaturi    culori  masuratori
4           20     negru        50.0
5           33       alb        60.0
6           50     verde        70.0
7           20       alb        80.0
8           13  albastru        90.0

In [7]:
df.head(2)

   temperaturi culori  masuratori
0           10   rosu         2.0
1           20  negru         NaN

In [8]:
df.tail(2)

   temperaturi    culori  masuratori
7           20       alb        80.0
8           13  albastru        90.0

In [10]:
type(df["temperaturi"]), df["temperaturi"]

(pandas.core.series.Series,
 0    10
 1    20
 2    30
 3    40
 4    20
 5    33
 6    50
 7    20
 8    13
 Name: temperaturi, dtype: int64)

In [11]:
df[["temperaturi"]]

   temperaturi
0           10
1           20
2           30
3           40
4           20
5           33
6           50
7           20
8           13

In [13]:
df[ ["temperaturi", "culori"] ]

   temperaturi    culori
0           10      rosu
1           20     negru
2           30       alb
3           40      rosu
4           20     negru
5           33       alb
6           50     verde
7           20       alb
8           13  albastru

In [16]:
df.loc[3]

temperaturi      40
culori         rosu
masuratori     40.0
Name: 3, dtype: object

In [18]:
df.max(), df["temperaturi"].argmax()

(temperaturi       50
 culori         verde
 masuratori      90.0
 dtype: object,
 np.int64(6))

In [19]:
df.describe()

       temperaturi  masuratori
count     9.000000    7.000000
mean     26.222222   56.000000
std      13.084129   29.303015
min      10.000000    2.000000
25%      20.000000   45.000000
50%      20.000000   60.000000
75%      33.000000   75.000000
max      50.000000   90.000000